<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" href="styles/toggle.css">
<link rel="stylesheet" href="styles/select.css">




<div class="container">
  <!-- Content here -->

  <div id="app">

    <div v-if="!step">
    <h2 class="step-heading"> Funeral Quote Tool</h1>
    <p> Here, you’ll work through the important decisions you need to consider. 
      We’ll contact funeral directors on your behalf and be back to you within 24 hours – 
      sooner if you tell us it’s urgent. Your details remain private until you decide you wish 
      to connect with anyone of the funeral directors </p>

      <p> can save your answers as a draft if you’re not quite ready to get pricing. 
        Note that your quote won’t include the kinds of decisions that are variable. 
        Things like venue hire, catering, flowers, even caskets have wide-ranging prices.</p>
      
      <p>      Don’t worry, we can help you out with those decisions too, 
        but first, let’s get the basics sorted out
        </p>


        
        


      <div style="display:flex; flex-direction: column; align-items: center;">
          
          <button @click="newQuote" type="submit" class="btn btn-primary float-right"
          >Start
        </button>
        
        <img src="assets/checklist.png">
      </div>
      
    </div>





    <!-- quote tool form wrapper -->
    <!-- quote tool form wrapper -->
    <!-- quote tool form wrapper -->
    <form
    action="https://formspree.io/xneboqbm" method="POST"
    v-if="showForm" class="card">
        <div class="card-body">
    <div class="progress">
      <div class="progress-bar" role="progressbar" v-bind:style="{width: progressPercentage + '%'}" aria-valuenow="{{message}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>





      <!-- block one -->
      <!-- block one -->
      <!-- block one -->
      <div class="form-step" v-show="step == 1">

        <h2 class="step-heading">Funeral Directors Fee</h2>
        <p>All funeral directors charge a fixed service fee.  It covers being available to make 
          arrangements on your behalf, managing all required paperwork like the death and 
          medical certificates, and a contribution towards their overheads   </p>

      <p>The Funeral Director's fee is no optional</p>

        <label for="service-fee">
          <p-check color="success" class="p-smooth" name="service-fee" type="checkbox" checked disabled>
            Funeral Directors Service Fee
            </p-check>
        </label>

        <toggle-select name = "inputname"  title = "this is the title"></toggle-select>

      </div>







<!-- form block 2 -->
<!-- form block 2 -->
<!-- form block 2 -->
      <div class="form-step" v-show="step==2">
        <h2 class="step-heading">Committal of the body</h2>
        <div class="step-description-wrapper">
        <span class="step-help-circle">
          <img src="assets/help-circle.svg">
        </span>

          <span class="step-description">
            <p>The funeral director will quote for arranging the committal. 
              This will include paperwork, transport and other costs specific to your selection. 
          </p>
          </span>


        </div>



          <div class="switch-field">
              <input type="radio" id="bury" name="committal" value="bury" v-model="committal" checked/>
              <label for="bury">
                <div class="ggb-select-image">
                  <img v-if = "committal == 'bury'" src="assets/bury-active.svg">
                  <img v-else src="assets/bury-normal.svg">
                </div>
                <div class="title">Bury</div>
                <div class="description">This does not include the burial plot or headstone.</div>
              </label>


              <input type="radio" id="cremate" name="committal" value="cremate" v-model="committal"/>
              <label for="cremate">


                  <div class="ggb-select-image">
                      <img v-if = "committal == 'cremate'" src="assets/cremate-active.svg">
                      <img v-else src="assets/cremate-normal.svg">
                    </div>
                    <div class="title">Cremation</div>
                    <div class="description">The family will have ashes returned for scattering or burying.</div>

              </label>
              <input type="radio" id="aquacremate" name="committal" value="aquacremate" v-model="committal" />
              <label for="aquacremate">

                  <div class="ggb-select-image">
                      <img v-if = "committal == 'aquacremate'" src="assets/aqua-active.svg">
                      <img v-else src="assets/aqua-normal.svg">
                    </div>
                    <div class="title">BioCremation</div>
                    <div class="description">Emerging as a promising environmentally friendly way for decomposition of the body.</div>
              </label>
            </div>



          <h2 class="step-heading">Direct to committal  </h2>

          <div class="step-description-wrapper">
              <span class="step-help-circle">
                <img src="assets/help-circle.svg">
              </span>
      
                <span class="step-description">
                  <p>Most commonly, this option is for direct to cremation.
                      Any service you arrange will not have the casket present, but might include the ashes.
                  
                </p>
                </span>
      
      
              </div>


              <toggle-select name = "dtc"  title = "Direct to Committal"></toggle-select>








          </label>


      </div>


<!-- SETION 3 -->
<!-- SETION 3 -->
<!-- SETION 3 -->

<div class="form-step" v-show="step==3">
  <h2 class="step-heading">Viewing</h2>
  <div class="step-description-wrapper">
    <div class="step-help-circle">
        <img src="assets/help-circle.svg">
    </div>
    <div class="step-description">
        <p>It’s not for everyone, but for some it’s important to see their 
          loved one, one last time. It’s the chance for a final kiss, or touch 
          of the hand. Your funeral director will quote for preparation and presentation.
          </p>
    </div>
  </div>
  


  <div class="switch-field">
      <input type="radio" id="open" name="viewing" value="open" v-model="viewing" checked/>
      <label for="open">
        <div class="ggb-select-image">
          <img v-if = "viewing == 'open'" src="assets/casket-open-active.svg">
          <img v-else src="assets/casket-open-normal.svg">
        </div>
        <div class="title">Open Casket</div>
        <div class="description">We would like to have the casket open at some point</div>
      </label>


      <input type="radio" id="closed" name="viewing" value="closed" v-model="viewing"/>
      <label for="closed">

          <div class="ggb-select-image">
              <img v-if = "viewing == 'closed'" src="assets/casket-closed-active.svg">
              <img v-else src="assets/casket-closed-normal.svg">
            </div>
            <div class="title">Closed Casket</div>
            <div class="description">We do not require the casket open at all.</div>

      </label>
      
    </div>




<h2 class="step-heading">We explicitly would prefer not to embalm  </h2>

<div class="step-description-wrapper">
<div class="step-help-circle">
    <img src="assets/help-circle.svg">
</div>
  <div class="step-description"></div>
  <p>Selecting We explicitly would prefer not to embalm means that your quote will exclude options for embalming</p>

</div>

   

    <toggle-select name = "viewing"  title = "We explicitly would prefer not to embalm"></toggle-select>


</div>



<!-- SETION 4 -->
<!-- SETION 4 -->
<!-- SETION 4 -->

<div class="form-step" v-show="step==4">
  <h2 class="step-heading">Private Time / Visitation</h2>
  <div class="step-description-wrapper">
      <div class="step-help-circle">
          <img src="assets/help-circle.svg">
      </div>
    
    <div class="step-description">
      <p>An extended time at home, or an hour or two at the funeral home in the days
          before the service or committal, taking some private time is important for
          some families. This decision impacts transport arrangements and the funeral professional’s time.

          </p>

    </div>
  </div>


  


    <div class="form-check">
      <input class="form-check-input" type="radio" name="private-time" id="private-facility" value="private-facility" checked>
      <label class="form-check-label" for="private-facility">
      At the Funerl Director's facility
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="private-time" id="other-location" value="other-location">
      <label class="form-check-label" for="other-location">
        At another Location
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="private-time" id="none" value="none">
      <label class="form-check-label" for="none">
        Private visitation time is not required
      </label>
    </div>



</div>


<!-- SETION 5 -->

<div class="form-step" v-show="step==5" >
  <h2 class="form-section-heading">5. Arranging a Service</h2>
  <p>There are any number of ways that families might arrange a Great Goodbye.
    Traditionally, the casket is present, and whether the service is formal or
    something less structured, this remains important for many. But families might
    choose to have the ashes instead of the casket, or opt for a memorial service at a later date.
    </p>


    <div class="form-check">
      <input class="form-check-input" type="radio" name="service" id="graveside" value="graveside" checked>
      <label class="form-check-label" for="graveside">
      Graveside service
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="service" id="service-facility" value="service-facility">
      <label class="form-check-label" for="service-facility">
        At the Funeral Director's facility
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="service" id="worship" value="worship">
      <label class="form-check-label" for="worship">
        At a place of worship
      </label>
    </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="service" id="alternative" value="alternative">
    <label class="form-check-label" for="alternative">
      At an alternative venue
    </label>
  </div>




</div>


<!-- SETION 6 -->

<div class="form-step" v-show="step==6">
  <h2 class="form-section-heading">6. Transport</h2>
  <p>Driving your loved one to the service and then on to the committal is a special way to get involved and personalise a Great Goodbye. For some people, taking this last drive together is deeply meaningful. If that’s not for you, your funeral professional will be honoured to do this task on your family’s behalf.

If the elegance and formality of the large black hearse fits with your Great Goodbye, then ask your funeral director to arrange this. Increasingly, there is a wide range of vehicle options available from directors. A hearse is an additional charge to a standard director’s fee, usually upward of $450.

But there is no law that says you can’t transport the casket yourself, and you might wish to step beyond historic convention and do something a little different. Grab the combi van they always took surfing or put the farm tractor to work for this final journey.

Of course, if bidding farewell at home, you will not need to specify funeral transport beyond having the casket delivered to the crematorium or burial ground.


    </p>


    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="transport" id="collection" value="collection" checked disabled>
      <label class="form-check-label" for="collection">
      Body collection from place of death. This option is included as part of the funeral director base fee.
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="transport" id="to-service" value="to-service">
      <label class="form-check-label" for="to-service">
        Funeral Director provides transport to the service venue
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="transport" id="to-committal" value="to-committal">
      <label class="form-check-label" for="to-committal">
        Funeral Director provides transport to the crematorium or burial ground
      </label>
    </div>


</div>



<!-- SETION 7 -->

<div class="form-step" v-show="step==7">
  <h2 class="form-section-heading">7. Request Quote</h2>
  <p>We’ll contact local funeral professionals and get some quotes for you, on your behalf. We won't share your contact or private information.

Once you receive the quotes, you’ll be able to initiate contact with the funeral professionals, or, if you are still unsure about your plan, you can return to Great Goodbyes and get a different quote based on different choices.

Remember that the quote is only for the services that the funeral professional does, and does not include services provided by other professionals that may be included. For those, we encourage you to browse the marketplace.

    </p>

    <div class="form-check">
      <label class="form-check-label" for="toquote">
        <input class="form-check-input" type="checkbox" name="toquote" id="toquote" checked
        v-model="toQuote">
        I would like to receive some quotes
      </label>
    </div>
<hr>
<div class="quote-block" v-if="toQuote">


    <h4>Please tell us more about yourself</h4>


    <div class="form-check">
      <label class="form-check-label" for="urgent">
        <input class="form-check-input" type="checkbox" name="urgent" id="urgent">
        This is an urgent quote - the death has already occurred
      </label>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="name">
    </div>

    <div class="form-group">
      <label for="location">Address</label>
      <input type="text" class="form-control" name="location" id="location" placeholder="location">
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" id="phone" placeholder="021 123 456">
    </div>


</div>


</div>

<!-- FORM NAVIGATION -->

<div class="lower-nav">


  <button type="button" class="btn btn-primary float-right"
    @click.prevent="next"
    v-if="step < 7"
    >Next
  </button>

  <button type="button" class="btn btn-primary"
  @click="prev"
  v-if="step > 1"
  >Previous</button>

  <button type="button" class="btn btn-primary"
  @click="cancel"
  v-else
  >Cancel</button>


    <button v-if="step == 7" type="submit" class="btn btn-primary float-right"
      >Submit
    </button>
  

</div>


</div>
    </form>



  </div>
</div>


<script src="https://kit.fontawesome.com/ff9b9ba176.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="js/toggle.js"></script>
<script src="js/app.js"></script>
