.container{
  max-width: 800px;
}


.btn{
  margin-top: 15px;
  background-color: #40052f;
  border-color:#40052f;
  min-width: 150px;
}
.btn:hover, .btn:active{
  background-color: #40052f !important;
  border-color:#40052f;
}
.btn:disabled{
  background-color: #ccc;
  border-color:#ccc;
}

.progress-bar{
  background-color: #40052f;
}
.form-step{
  min-height: 400px;
}
.form-section-heading{
  margin-top: 40px;
}
.quote-block{
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.card{
  border:none;
}


h2.step-heading{
  font-size: 24px !important;
  color: #40052F;
  text-align:center;
  margin-top:20px;
  margin-bottom:10px;
}
h3.step-sub-heading{
  color: 273443;
  font-size: 18px !important;
  margin-top:20px;
  margin-bottom:10px;
}


.option-default{
   color: #3B4857;
}
.option-selected{
  color: #40052F;
}

.step-description-wrapper{
  display:flex;
}
.step-help-circle{
  padding-right: 10px;
  padding-top: 7px;
  cursor: pointer;
}

.next-button-wrapper>p{
  display:none;
}
.next-button-wrapper:hover>p{
  display:block;
}

p.progress-error{
  width:150px; 
  text-align: center;
  color: #40052F;
  font-size:12px;
}

.info-wrapper{
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  background-color: #FDF7F1;
  margin-bottom:20px;
}